body{  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url(./assets/japan-city.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}
.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input{
  box-sizing: border-box;
}

.complete{
  background-color: #50fa7b;
  color: #44475a;
  margin-right: 2px;
}
.remove{
  background-color: #ff5555;
}

/* TodoForm */
button{
  background-color: #6272a4;
  color: #f8f8f2;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}
button:hover{
  opacity: 1;
}

.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #44475a;
}

.todo{
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-form{
  padding-bottom: 1.5rem;
}

input, select{
  background-color: #f8f8f2;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
